What if we have higher dimension or 3 dimensions means 2 inputs and 1 output then our predictions will be a PLANE instead of line

and equation is 
$$
 y  = w_1 * x_1 + w_2 * x_2  + w_3
$$
<img src="https://www.researchgate.net/publication/335642364/figure/fig1/AS:799942490742784@1567732560590/Multiple-linear-regression-describing-Mytilus-spp-recruitment-in-relation-to-upwelling.png">

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
from sklearn import metrics

In [4]:
# Load the data from the boston house-prices dataset 
boston_data = load_boston()
boston_data

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'c:\\users\\pc\\appdata\\local\\programs\\python\\python37\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [5]:
x = boston_data['data']
y = boston_data['target']
yy = y[0:13]

In [6]:
df = pd.DataFrame()

In [7]:
for i in range(0,len(x)):
    name = 'x{}'.format(i)
    df[name] = x[i]

In [8]:
df.shape  #our data has 13 rows and 506 columns

(13, 506)

In [9]:
df

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x496,x497,x498,x499,x500,x501,x502,x503,x504,x505
0,0.00632,0.02731,0.02729,0.03237,0.06905,0.02985,0.08829,0.14455,0.21124,0.17004,...,0.2896,0.26838,0.23912,0.17783,0.22438,0.06263,0.04527,0.06076,0.10959,0.04741
1,18.00000,0.00000,0.00000,0.00000,0.00000,0.00000,12.50000,12.50000,12.50000,12.50000,...,0.0000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,2.31000,7.07000,7.07000,2.18000,2.18000,2.18000,7.87000,7.87000,7.87000,7.87000,...,9.6900,9.69000,9.69000,9.69000,9.69000,11.93000,11.93000,11.93000,11.93000,11.93000
3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.0000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,0.53800,0.46900,0.46900,0.45800,0.45800,0.45800,0.52400,0.52400,0.52400,0.52400,...,0.5850,0.58500,0.58500,0.58500,0.58500,0.57300,0.57300,0.57300,0.57300,0.57300
5,6.57500,6.42100,7.18500,6.99800,7.14700,6.43000,6.01200,6.17200,5.63100,6.00400,...,5.3900,5.79400,6.01900,5.56900,6.02700,6.59300,6.12000,6.97600,6.79400,6.03000
6,65.20000,78.90000,61.10000,45.80000,54.20000,58.70000,66.60000,96.10000,100.00000,85.90000,...,72.9000,70.60000,65.30000,73.50000,79.70000,69.10000,76.70000,91.00000,89.30000,80.80000
7,4.09000,4.96710,4.96710,6.06220,6.06220,6.06220,5.56050,5.95050,6.08210,6.59210,...,2.7986,2.89270,2.40910,2.39990,2.49820,2.47860,2.28750,2.16750,2.38890,2.50500
8,1.00000,2.00000,2.00000,3.00000,3.00000,3.00000,5.00000,5.00000,5.00000,5.00000,...,6.0000,6.00000,6.00000,6.00000,6.00000,1.00000,1.00000,1.00000,1.00000,1.00000
9,296.00000,242.00000,242.00000,222.00000,222.00000,222.00000,311.00000,311.00000,311.00000,311.00000,...,391.0000,391.00000,391.00000,391.00000,391.00000,273.00000,273.00000,273.00000,273.00000,273.00000
10,15.30000,17.80000,17.80000,18.70000,18.70000,18.70000,15.20000,15.20000,15.20000,15.20000,...,19.2000,19.20000,19.20000,19.20000,19.20000,21.00000,21.00000,21.00000,21.00000,21.00000
11,396.90000,396.90000,392.83000,394.63000,396.90000,394.12000,395.60000,396.90000,386.63000,386.71000,...,396.9000,396.90000,396.90000,395.77000,396.90000,391.99000,396.90000,396.90000,393.45000,396.90000
12,4.98000,9.14000,4.03000,2.94000,5.33000,5.21000,12.43000,19.15000,29.93000,17.10000,...,21.1400,14.10000,12.92000,15.10000,14.33000,9.67000,9.08000,5.64000,6.48000,7.88000

## Using my model

In [10]:
def error_list(w_1,w_2,w_3):
    #y_pred = w_1 * x_1 + w_2 * x_2 + w_3
    y_pred = []
    for i in range(0,len(df['x1'])):
        y_pred.append( (df['x1'][i] * w_1) + (df['x2'][i] * w_2) + w_3)
    error = []
    for j in range(0,len(df['x1'])):
        error.append(yy[j]- y_pred[j])
    return error

In [11]:
def update(iterate):
    w_1 = 0
    w_2 = 0
    w_3 = 0
#     plt.plot(x,y,'o', color='black')
    for i in range(0,iterate): # i am moving line 50times , you can change it
        errors = error_list(w_1,w_2,w_3)  # as w1 and w2 are changing it means that line is also moving so we have to calculate new q-q' w.r.t to new line
#         print(errors)
        # add (q-q') * x * learning rate in w1
        w_1 += np.matmul(errors,df['x1']) * 0.000001   #t=x #matmul ---> multiply array element by element and then add it
        # add q-q' * learning_rate in w2
        w_2 += np.matmul(errors,df['x2']) * 0.000001
        w_3 += sum(errors)* 0.000001
        print("sum of squared_error", sum([i**2 for i in errors])/(2*len(errors)))
    print(w_1,w_2,w_3)

In [12]:
# update(1000000) #dont try 10 lacs iterations it was very slow :p

In [13]:
%%HTML
<img src="MLR.PNG">

In [14]:
y_pred = []
for i in range (0,len(yy)):
    y_pred.append((-0.14976725290819656 * df['x1'][i] ) +0.12914690508122942 * df['x2'][i] + 26.05821931249631)
y_pred
df1 = pd.DataFrame({'Actual': yy, 'Predicted': y_pred})
df1

    Actual  Predicted
0     24.0  26.057654
1     21.6  26.058219
2     34.7  25.912433
3     33.4  26.058219
4     36.2  26.048548
5     28.7  26.024484
6     22.9  22.132459
7     27.1  25.955796
8     16.5  26.016979
9     18.9  21.068095
10    15.0  25.691177
11    18.9  17.348375
12    21.7  25.209809

In [15]:
print('Mean Absolute Error:', metrics.mean_absolute_error(yy, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(yy, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yy, y_pred)))

Mean Absolute Error: 4.986278207518006
Mean Squared Error: 37.81865279426905
Root Mean Squared Error: 6.149687211092044

In [16]:
def predict(x1_value,x2_value):
    #y = w1*x + w2
    y = []
    y.append((x1_value * -0.14976725290819656) + (x2_value * 0.12914690508122942) + 26.05821931249631)
    return y

In [17]:
predict(4.89000000e-01,6.32600000e+00)

[26.80196644736806]

In [18]:
import plotly
import plotly.graph_objs as go
import plotly.express as px

In [28]:
# Scatter all points
a = go.Scatter3d(x=df['x1'],
                    y=yy,
                    z=df['x2'],
                    marker=dict(opacity=0.9,
                                colorscale='Blues',
                                size=5),
                                line=dict (width=0.02),
                                mode='markers')
#draw best fitted plane
b = {
    'type': 'mesh3d',        
    'x': df['x1'],
    'y': y_pred,
    'z': df['x2'],
    'color': 'red',
    'opacity': 0.5,
}

data = [a,b]

plotly.offline.plot({"data": data})

'temp-plot.html'

In [30]:
# from IPython.display import IFrame

# IFrame(src='./temp-plot.html', width=700, height=600)

In [39]:
%%HTML
<h1>RESULT OF ABOVE CELL</h1>
<img src="ML_graph1.PNG">

## Using sklearn

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model2 = LinearRegression()
model2.fit(df[['x0','x1']] ,yy)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
sample_house = df[['x0','x1']].values
# TODO: Predict housing price for the sample_house
prediction = model2.predict(sample_house)

In [25]:
prediction

array([25.88640656, 24.98331673, 25.98928607, 25.88587658, 25.87344358,
       25.75530429, 25.06326314, 25.8348228 , 25.89775361, 18.54810896,
       25.67067192, 18.29214949, 25.91959627])

In [26]:
df2 = pd.DataFrame({'Actual': yy, 'Predicted': prediction})
df2

    Actual  Predicted
0     24.0  25.886407
1     21.6  24.983317
2     34.7  25.989286
3     33.4  25.885877
4     36.2  25.873444
5     28.7  25.755304
6     22.9  25.063263
7     27.1  25.834823
8     16.5  25.897754
9     18.9  18.548109
10    15.0  25.670672
11    18.9  18.292149
12    21.7  25.919596

In [27]:
print('Mean Absolute Error:', metrics.mean_absolute_error(yy, prediction))  
print('Mean Squared Error:', metrics.mean_squared_error(yy, prediction))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yy, prediction)))

Mean Absolute Error: 4.880155111906583
Mean Squared Error: 37.64712653983013
Root Mean Squared Error: 6.135725428979864